@import url(./fonts.css);

input[type=password]#user-password.user-password, input[type=text]#user-input.user-input{
    height: 2em;
    width: auto;
    max-width: 800px;
    background-color: #A9BCD0;
    border: none;
    border-radius: 1em;
    color: #373F51;
    padding-left: 1rem;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input[type=submit].user-pass-submit {
    font-size: 1.2em;
    color: black;
    background-color: orange;
    border: none;
    border-radius: 1em;
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-left: auto;
}

input[type=submit].user-pass-submit:hover {
    font-size: 1.4em;
}

.create-acc-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.acc-intro {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

#create-acc {
    margin-top: 1em;
    font-family: 'CaeciliaLTStd-Light', serif;
    text-decoration: underline;
}

.user-not-found {
    margin-bottom: 1em;
    max-width: 600px;
}