@import url(./fonts.css);

.search-container {
    max-width: 1300px;
}

.search-result {
    background-color: #F4F5F6;
    margin: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: 5px -10px 10px #1B1B1E;
}

.search-result:hover {
    background-color: #DDE0E4;
}

.img-container {
    max-width: 300px;
    /* height: 300px; */
    object-fit: contain;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 500px;
    /* cursor: pointer; */
}


.a-search {
    display: inline-block;
    color: #373F51;
    margin-top: 2em;
    margin-right: 3em;
    margin-bottom: 1em;
    margin-left: 1.8em;
    font-size: 1.3em;
    font-family: 'ClarendonTextProRegular', serif;
}