@import url(./fonts.css);

* {
    /* Enable below to sho margin and paddings */
    /* outline: 1px solid #f00 !important; */
    font-size: 16px;
    color: #D8DBE2;
    margin: 0;
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 310px) {
    p.home-paragraph {
        font-size: 1em;
        padding-right: 1em;
    }

    p.home-disclaimer {
        font-size: 0.8em;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 12px;
    }

    body main#main {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    div.welcome-content p.home-paragraph {
        padding-left: 1em;
    }

    #information div.welcome-content p.home-disclaimer {
        padding-left: 2em;
    }

    section#information {
        margin-left: 0;
    }
}

@media only screen and (max-width: 650px) {
    main#main {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .welcome-content p.home-paragraph {
        padding-left: 1em;
    }

    div.welcome-content p.home-disclaimer {
        padding-left: 6em;
    }
}

@media only screen and (max-width: 800px) {
    .welcome-content p.home-paragraph {
        padding-left: 1em;
    }
}

@media only screen and (max-width: 1050px) {
    p.home-paragraph {
        padding-left: 2em;
    }
    p.home-disclaimer {
        padding-left: 6em;
    }
}

@media only screen and (min-width: 1400px) {
    body main#main {
        margin-right: 15em;
        margin-left: 15em;
    }
}

body {
    background-color: #373F51;
}

header {
    padding-bottom: 2rem;
    left: 0;
    top: 0;
}

#website-heading {
    cursor: pointer;
    font-size: 2.5rem;
    color: #58A4B0;
    font-family: 'ClarendonTextProRegular', serif;
}

#search-body {
    min-width: 0;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input[type=text] {
    width: auto;
    max-width: 800px;
    background-color: #A9BCD0;
    border: none;
    border-radius: 1em;
    color: #373F51;
    height: 3em;
    flex-grow: 1;
    padding-left: 1rem;
    font-size: 1.2em;
    margin-bottom: 1em;
}

input[type=text]:hover {
    color: #373F51;
    background-color: #96ADC5;
}

hr {
    color: #F3F4F6;
}

input[type=submit] {
    font-size: 1.2em;
    min-width: 0;
    color: black;
    background-color: #F3F4F6;
    border: none;
    border-radius: 1em;
    flex-grow: 0;
    flex-wrap: nowrap;
    height: 3em;
    margin-left: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

input[type=submit]:hover {
    color: #F3F4F6;
    background-color: #58A4B0;
    cursor: pointer;
}

::placeholder {
    color: #373F51;
    /* padding-left: 1rem; */
}

#main {
    margin-right: 5rem;
    margin-left: 5rem;
    /* width: 100%; */
}

#information {
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    margin-left: 2em;
}

p {
    font-family: 'CaeciliaLTStd-Light', serif;
}

.welcome-content {
    height: 100%;
}

.home-paragraph {
    max-width: 900px;
    margin-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-size: 1.5em;
    align-items: center;
}

.home-disclaimer {
    /* align-items: center; */
    margin-top: 3em;
    padding-left: 8em;
    max-width: 800px;
    padding-right: 9em;
    font-size: 1em;
    font-family: 'CaeciliaLTStd-Light', serif;
}

